.rad
/target/
**/*.rs.bk
Cargo.lock
node_modules
package.json
package-lock.json
coverage
.nyc_output
**/*.log
.DS_Store
build
src/3p/*
!src/3p/*.ts
!.rad
public
# make task tester files
m1
t1
p1
p2
prereq*

# examples
## c
hello
## node
!examples/node/package.json
