{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/exec", {
      "prepareCmd": "export NEXT_VERSION=${nextRelease.version} && NEXT_VERSION=${nextRelease.version} ./rad patchInstallVersion",
    }],
    ["@semantic-release/github", {
      "assets": [
        {"path": "assets/install.*", "label": "pinned install"}
      ]
    }]
  ]
}
